{% extends 'insurance/base.html'%}

{% load static %}

{% include 'insurance/navbar.html' %}



{% block content %}

<h3>SEZNAM POJISTENCU :</h3>

<button><a href="{% url 'add_user' %}">PRIDAT POJISTENCE</a></button>

<br>

------------------------------------------------------------------------

<table>
    <tbody>

    <tr>
    <th>ID</th>
    <th>Jmeno</th>
    <th>Adresa</th>
    <th></th>
  </tr>

         {% for user in users_list %}

        <td>{{ user.id }}</td>
        <td>{{ user }}</td>
        <td> {{ user.address }} </td>
        <td><button class="" ><a href="{% url 'show_user' user.id %}">DETAIL POJISTENCE</a></button></td>
        <td><button class="" ><a href="{% url 'update_user' user.id %}">EDITOVAT POJISTENCE</a></button></td>
        <td><button class=""><a  href="{% url 'delete_user' user.id %}">SMAZAT POJISTENCE</a></button></td>


         </tbody>

         {% endfor %}
</table>



</br>









{% endblock %}